body    {
    background: url("https://tapetax.pl/pic/product_foto/proda25877pi.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.shopping-cart {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: black;
    display: block;
}

.shopping-cart-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.shopping-cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #410796;
}

.shopping-cart-item-title {
    font-size: 18px;
    color: #b0aeae;
}

.shopping-cart-item-price {
    font-size: 16px;
    margin-right: 20px;
    color: #b0aeae;
}
.shopping-cart-item-quantity {
    font-size: 16px;
    margin-right: 20px;
    color: #b0aeae;
}

.shopping-cart-item-remove {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.shopping-cart-item-remove:hover {
    background-color: #b00000;
}

.shopping-cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.shopping-cart-checkout {
    background-color: #1c8c01;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}
.shopping-cart-checkout:hover {
    background-color: #0f5e00;
}
.shopping-cart-clear {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}