.header {
    background-color: black;
    padding: 0.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TBATLogo {
    width: 7rem;
    height: 7rem;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header nav ul li {
    margin-left: 1rem;
}

.header nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #cb1515;
    transition: color 0.2s;
}

.header nav ul li a:hover {
    color: #949393;
}

.header nav ul li a:active {
    color: #750202;
}

nav ul li:last-child a {
    color: white;
}

nav ul li:nth-child(1) a {
    color: orange;
}

nav ul li:nth-child(2) a {
    color: blue;
}